.sharing {
  position: relative;
  width: 600px;
  height: 315px;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url("../../assets/images/sharing.png");
  background-size: contain;
}

h2 {
  text-align: center;
}