@font-face {
  font-family: 'Xolonium';
  font-style: normal;
  font-weight: 400;
  src: local('Xolonium Regular'), local('Xolonium-Regular'), url("fonts/xolonium.woff") format('woff'), url("fonts/xolonium.eot") format('eot'), url("fonts/xolonium.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url("fonts/roboto-light.woff") format('woff'), url("fonts/roboto-light.eot") format('eot'), url("fonts/roboto-light.ttf") format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Roboto Bold'), local('Roboto-Bold'), url("fonts/roboto-bold.woff") format('woff'), url("fonts/roboto-bold.eot") format('eot'), url("fonts/roboto-bold.ttf") format('truetype');
}
@import 'mixin/mixin';
@import 'reset/reset';
@import 'vendor/vendor';
@import 'layout/layout';
@import 'modules/modules';
@import 'pages/pages';
