$break-mobile: 320px;
$break-ml: 375px;
$break-mobileBig: 540px;
$break-tablet: 640px;
$break-desktop: 1024px;
$break-large-desktop: 1920px;

@mixin break-point($media) {
  @if $media == mobile {
    @media only screen and (min-width: $break-mobile) {
      @content;
    }
  } @else if $media == ml {
    @media only screen and (min-width: $break-ml) {
      @content;
    }
  }  @else if $media == mobileBig {
    @media only screen and (min-width: $break-mobileBig) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (min-width: $break-tablet) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: $break-desktop) {
      @content;
    }
  } @else if $media == large-desktop {
    @media only screen and (min-width: $break-large-desktop) {
      @content;
    }
  }
}


@mixin aspect-ratio($width, $height, $mask: hidden) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: $mask;
  }
}




@mixin image-2x($image-2x, $positioning, $repeat, $size, $fallback, $detect-retina: false) {
  @if $detect-retina {
    background-image: $fallback;
    background-position: $positioning;
    background-repeat: $repeat;
    background-size: $size;

    @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 144dpi),
    only screen and (min-resolution: 1.5dppx) {
      background-image: $image-2x;
      background-position: $positioning;
      background-repeat: $repeat;
      background-size: $size;
    }
  } @else {
    background-image: $image-2x;
    background-position: $positioning;
    background-repeat: $repeat;
    background-size: $size;

    .no-backgroundsize & {
      background-image: $fallback;
    }
  }
}
