@font-face {
  font-family: 'Xolonium';
  font-style: normal;
  font-weight: 400;
  src: local('Xolonium Regular'), local('Xolonium-Regular'), url(fonts/Xolonium.woff) format('woff'), url(fonts/Xolonium.eot) format('eot'), url(fonts/Xolonium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(fonts/Roboto-Light.woff) format('woff'), url(fonts/Roboto-Light.eot) format('eot'), url(fonts/Roboto-Light.ttf) format('truetype');
}
#rogpink{
@import 'reset/reset';
@import 'vendor/vendor';
@import 'mixin/mixin';
@import 'modules/modules';
@import 'layout/layout';
width: 100vw;
margin-left: calc( (100% - 100vw )/2);
}
