.destination {
  margin-top: 10px;

  &__photo {
    height: auto;
    min-height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__info {
    padding: 20px;

    &__title {}

    &__detail {
      .info__detail {
        padding-left: 22px;
        margin-right: 15px;
        display: inline-block;
        width: 40%;
        color: #333;
    vertical-align: top;

        i {
          margin-left: -18px;
          margin-right: 5px;
        }

        &__icon {
          margin-left: -20px;
          margin-right: 0px;
          padding-right: 20px;
          background-repeat: no-repeat;
          background-size: contain;

          &.icon__cart {
            background-image: url("../images/icon_shopping_cart.svg");
          }

          &.icon__plug {
            background-image: url("../images/icon_statistics.svg");
          }
        }
      }
      margin-bottom: 10px;
    }

    &__text {
      border-top: 1px solid #ACACAC;
      padding-top: 15px;
    }
  }

  &__weather {
    text-align: center;

    &__icon {
      display: inline-block;
    }

    &__info {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.5rem;

      .weather__info {
        &__c {
          margin-right: 25px;
          color: #000;
        }

        &__f {
          color: #AAA;
        }
      }
    }
  }
}
