.partner{
  &__slider{
    width: 100%;
    padding: 5px;
    &__item{
      width: 100%;
      height: 250px;

      &--a{
        background-color: #F00;
      }
      &--b{
        background-color: #FF0;
      }
      &--c{
        background-color: #0F0;
      }
      &--d{
        background-color: #0FF;
      }
      &--e{
        background-color: #00F;
      }
      &--f{
        background-color: #000;
      }
    }
  }
}
