html{
  font-family:\5FAE\8EDF\6B63\9ED1\9AD4,\9ED1\9AD4,\5137\9ED1Pro,sans-serif;
}

.cropper-modal {
  background-color: rgba(0,0,0,0);
}

.cropper-view-box {
  outline: none;
  /* outline-color: rgba(51, 153, 255, 0.75); */
}

.showM {
  display: block;
}
@media(min-width:768px) {
  .showM {
    display: none;
  }
}

img {
  max-width: 100%;
}

.slick-next,
.slick-prev {
  margin-top: -50px;
}

.slick-next:before,
.slick-prev:before {
  color: #000;
}

.slick-prev {
  left: -5px;
}

.slick-next {
  right: -5px;
}

.ui-rotatable-handle {
  width: 20px;
  height: 20px;
  background-color: white;
  background-image: url("../img/icon_rotate.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.page {
  padding-top: 90px;

  &__result {
    padding-top: 90px;
  }

  .title {
    margin: 0 auto 20px;
    display: block;
    max-width: 90%;
  }

  .subtitle {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .info {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
  }

  &__pick-view {
    .view-box {
      max-width: 1000px;
      margin: 0 auto;

      .view {
        text-align: center;
      }
    }

    .slick-slide img {
      display: block;
      margin: 0 auto;
      pointer-events: none;
    }
  }

  &__upload {
    background-image: url("../img/s2_bg.png");
    background-position: bottom;
    background-repeat-y: no-repeat;

    .upload__btn {}

    .photo__editor {
      width: 100%;
      position: relative;

      .icon__box {
        position: absolute;
        top: 70px;
        right: 0;

        .icon {
          margin: 10px 0;
        }
      }

      .icons {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
      }

      .upload__preview {
        position: relative;
        width: 300px;
        height: 340px;
        margin: 0 auto 20px;
        overflow: hidden;

        .mask,
        .photo {
          position: absolute;
          left: 0;
          top: 0;
          width: 300px;
          height: 340px;

          img {
            width: 100%;
          }

          &__head {
            width: 100%;
            height: 100%;
          }
        }

        .photo {
          background-size: cover;
        }

        .mask {
          pointer-events: none;

          img {}
        }
      }
    }

    .feature {
      text-align: center;
      position: relative;
      top: 0;

      .btn {
        margin-top: 50px;
        margin-bottom: 50px;
      }

      &__gender {
        width: 100px;
        background-color: #e5e5e5;
        height: 75px;
        align-items: center;
        justify-content: center;
        display: inline-flex;

        img {
          opacity: 0.2;
        }

        &-active {
          img {
            opacity: 1;
          }
        }
      }

      .item__slider {
        width: 210px;
        margin: 0 auto;

        .slick-next,
        .slick-prev {
          margin-top: 0;
        }

        .slick-next {
          right: -25px;
        }

        .slick-prev {
          left: -25px;
        }
      }

      &__item {
        width: 100px;
        background-color: #e5e5e5;
        height: 75px;
        align-items: center;
        justify-content: center;
        display: inline-flex;

        img {
          opacity: 0.2;
          width: 55px;
          pointer-events: none;
        }

        &-active {
          img {
            opacity: 1;
          }
        }
      }
    }
  }
}

.btn {
  margin: 0 auto;
  background-color: #3051b0;
  color: white;
  padding: 5px 20px;
  display: block;
  border: 1px solid #3051b0;
  width: 100px;
  text-align: center;

  &:hover {
    background-color: white;
    color: #3051b0;
  }

  &__share {
    display: inline-block;
    margin-right: 5px;
  }

  &__playagain {
    display: inline-block;
    margin-left: 5px;
  }

  &-box {
    display: flex;
    padding-bottom: 50px;
  }
}

#btn_upload {
  // display: none;
  position: absolute;
  left: -100px;
  width: 1px;
  height: 1px;
}
@media(min-width:768px) {
  .page {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;

    &__result {
      padding-top: 10px;
    }

    .title {}

    .subtitle {
      margin-bottom: 50px;
    }

    .info {}

    &__pick-view {
      .view-box {
        .view {}
      }

      .slick-slide img {}
    }

    &__upload {
      .upload__btn {}

      .photo__editor {
        display: inline-block;
        width: 49%;

        .icons {}

        .upload__preview {
          margin: 0 auto 50px;

          .mask,
          .photo {
            img {}
          }

          .photo {}

          .mask {
            img {}
          }
        }
      }

      .feature {
        img {
          pointer-events: none;
        }

        .btn {
          margin-top: 110px;
        }
        display: inline-block;
        width: 50%;
        position: absolute;
        top: 217px;
      }
    }
  }

  .btn {
    &:hover {}
  }

  #btn_upload {}
}

footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px 20px 0;
  background-color: #151515;
  color: #FFF;
  font-size: 12px;

  .container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    flex-wrap: wrap;
  }

  .contact,
  .copyright {
    font-size: 12px;
    margin-bottom: 1rem;
  }

  a {
    color: #FFF;
    text-decoration: none;
  }
}

header {
  z-index: 9;
  width: 150px;
  left: 50%;
  margin-left: -75px;
  position: absolute;
  top: 20px;
}
@media(min-width:768px) {
  header {
    width: 200px;
    left: 20px;
    margin-left: 0;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 5px solid #f3f3f3;
  /* Light grey */
  border-top: 5px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn__wrapper {
  position: relative;
  width: 100%;
}

.notice {
  display: none;
  background-color: #fff100;
  padding: 10px 20px;
  border-radius: 10px;
  position: absolute;
  margin-top: -50px;
  z-index: 9;
  min-width: 128px;
  text-align: left;
  right: 50%;
  top: 0;
  pointer-events: none;

  &.upload__notice {
    margin-top: -75px;
    margin-right: -100px;
  }

  &.gender__notice {
    margin-top: -50px;
    margin-right: -80px;
    text-justify: distribute;
    text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;

    &:before {
      display: inline-block;
      width: 100%;
    }
  }

  &.item__notice {
    margin-top: -70px;
    margin-right: -80px;
  }

  &:after {
    content: "";
    position: absolute;
    margin-bottom: -19px;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #fff200 transparent transparent transparent;
  }
}

.fade-in {
  animation: fadeIn0 ease 1s 0.2s;
  -webkit-animation: fadeIn0 ease 1s 0.2s;
  -moz-animation: fadeIn0 ease 1s 0.2s;
  -o-animation: fadeIn0 ease 1s 0.2s;
  -ms-animation: fadeIn0 ease 1s 0.2s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn0 {
  0% {
    opacity: 0;
    transform: translateX(150%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-1 {
  animation: fadeIn1 ease 2s 0s;
  -webkit-animation: fadeIn1 ease 2s 0s;
  -moz-animation: fadeIn1 ease 2s 0s;
  -o-animation: fadeIn1 ease 2s 0s;
  -ms-animation: fadeIn1 ease 2s 0s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn1 {
  0% {
    opacity: 0;
    // transform: translateY(150%);
  }

  100% {
    opacity: 1;
    // transform: translateY(0);
  }
}

.fade-in-2 {
  animation: fadeIn2 ease 1s 0s;
  -webkit-animation: fadeIn2 ease 1s 0s;
  -moz-animation: fadeIn2 ease 1s 0s;
  -o-animation: fadeIn2 ease 1s 0s;
  -ms-animation: fadeIn2 ease 1s 0s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    // transform: translateY(0);
  }
}

.fade-in-3 {
  animation: fadeIn3 ease 0.5s;
  -webkit-animation: fadeIn3 ease 0.5s;
  -moz-animation: fadeIn3 ease 0.5s;
  -o-animation: fadeIn3 ease 0.5s;
  -ms-animation: fadeIn3 ease 0.5s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn3 {
  0% {
    opacity: 0;
    transform: translateY(150%) scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

.jump {
  animation: jp ease 0.5s;
  -webkit-animation: jp ease 0.5s;
  -moz-animation: jp ease 0.5s;
  -o-animation: jp ease 0.5s;
  -ms-animation: jp ease 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes jp {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-1%);
  }

  50% {
    transform: translateY(-3%);
  }

  80% {
    transform: translateY(-1%);
  }

  100% {
    transform: translateY(0);
  }
}
