$kv1: #000;
$kv2: #ef4e22;
$kv3: #f1f1f1;

$soft: #ffdacb;
$soft2: #f0f0f0;
$soft3: #000;

$white: #fff;
$black: #1d1d1d;
$gray: #888;

$font_family: "Noto Sans TC", "Microsoft Jhenghei", "微軟正黑", sans-serif;
